:root {
    font-family: var(--font-family);
    font-size: var(--font-size-base);
    background-color: inherit;
    color: var(--main-fg-color);
    -webkit-font-smoothing: antialiased;
}

.root {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-gap: 0;
    justify-content: center;
    max-width: 72ch;
    margin: 0 auto;
}